
<p id="notice"><%= notice %></p>

<h1>List of products</h1>

<div class="nav">
  <%= link_to 'New product', new_mtx_product_path, class: "btn btn-primary" %>
</div>

<br \>
<table class="table table-bordered table-striped" id="sortTable">
  <thead>
    <tr>
      <th><%= sortable "mtx_product_language.name", "Name" %></th>
      <th><%= sortable "price", "Price" %></th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @mtxProducts.each do |mtx_product| %>
      <tr>
        <td><%= mtx_product.mtx_product_languages.first.name %></td>
        <td><%= mtx_product.price %></td>
        <td><%= mtx_product.status %></td>
        <td>
            <%= link_to 'Show', mtx_product, class: "btn btn-default" %> &nbsp;
            <%= link_to 'Edit', edit_mtx_product_path(mtx_product), class: "btn btn-default" %> &nbsp;
            <%= link_to 'Destroy', mtx_product, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @mtxProducts %>

