<p id="notice"><%= notice %></p>
<h1>List of users</h1>

<div class="list">
    <table class="table table-bordered table-striped table-hover" id="sortTable">
    <tr>
      <th><%= sortable "id", I18n.t('activerecord.attributes.user.id') %></th>
      <th><%= sortable "username", I18n.t('activerecord.attributes.user.username') %></th>
      <th><%= sortable "fullname", I18n.t('activerecord.attributes.user.fullname') %></th>
      <!--<th></th>-->
    </tr>
    <% @users.each do |user| %>
        <tr data-href="<%= mtx_user_path(user) %>">
          <td><%= user.id %></td>
          <td><%= user.username %></td>
          <td><%= user.fullname %></td>
          <!--<td><%= link_to 'View detail', mtx_user_path(user) %></td>-->
        </tr>
    <% end %>
    <tr>
    </tr>
  </table>
  <div><%= paginate @users %></div>
</div>
<script>
    $("tr[data-href]").click(function () {
        var link = $(this).data("href");
        window.location = link;
//      $.ajax({
//          url: link,
//          type: "GET",
//          success: function(result){
//              $("body").html(result);
//          }
//      })
    })
</script>
