<p id="notice"><%= notice %></p>
<h1>List of users</h1>

<div class="list">
<table class="table table-bordered table-striped" id="sortTable">
    <tr>
      <th><%= sortable "id", "User Id" %></th>
      <th><%= sortable "username", "Username" %></th>
      <th><%= sortable "fullname", "Fullname" %></th>
      <th></th>
    </tr>
    <% @users.each do |user| %>
        <tr data-href="<%= mtx_user_path(user) %>">
          <td><%= link_to user.id,  mtx_user_path(user.id) %></td>
          <td><%= link_to user.username,  mtx_user_path(user.id) %></td>
          <td><%= link_to user.fullname,  mtx_user_path(user.id) %></td>
          <td>
              <% if user.active == 1%>
                <%= link_to 'Active', "#", data_user_id: user.id, data_user_status: 0, class: "active_user" %>
              <% else %>
                <%= link_to 'Unactive', "#", data_user_id: user.id, data_user_status: 1, class: "active_user"%>
              <% end %>
          </td>
        </tr>
    <% end %>
    <tr>
    </tr>
  </table>
  <%= paginate @users %>
</div>