<h1 class="disNone">Sign in</h1>

<% flash.each do |message_type, message| %>
    <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>
<%= form_tag process_login_path do %>
    <div class="col-xs-3">
      <div class="field inputLogin">
        <%= label_tag :username %> </br>
        <input type="text" name="username" class="form-control" id="username" placeholder="User Name">

      </div>
      <div class="field inputLogin">
        <%= label_tag :password %> </br>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
      </div>
      </br>
      <div class="actions inputLogin ">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>

<% end %>