<h1>Place Order</h1>
<p>Show list product on daily menu</p>
<%= form_tag("place_orders/create_order", method: "post") do %>
<div>
  <table class="table table-striped table-bordered table-hover">
    <tr>
      <td>
        Food
      </td>
      <td>
        Price
      </td>
      <td>
        Order
      </td>
    </tr>
    <% @product.each do |product_items| %>
        <tr>
          <td>
            <%= product_items.mtx_product_languages.first.name %>
          </td>
          <td>
            <%= product_items.price %>
          </td>
          <td>
            <input type="text" value="0" class="product_item" attr_price="<%= product_items.price %>"
                   onkeypress="return isNumber(event)"
                   onchange="calculateTotal();"
                   onkeyup="this.onchange();"
                   name='product[<%= product_items.id %>_<%= product_items.price %>]'>
          </td>
        </tr>
    <% end %>
    <tr>
      <td></td>
      <td>Total:</td>
      <td><input type="text" name="total_order" id="total_order" onkeypress="return false;"></td>
    </tr>
  </table>
</div>
<%= submit_tag("Create Order") %>
<% end %>
